.headerContainer {
    @include bp(max-tablet) {
        border-bottom: 1px solid $colorMain;
    }
    >div.mainContainer {
        @include bp(min-phablet) {
            display: flex;
            align-items: center;
        }
        @include bp(min-tablet) {
            padding: 5px 5px 0 5px;
        }
        .logoContainer {
            flex-grow: 1;
            >div {
                display: flex;
                align-items: center;
                .fa-bars {
                    margin: 0 15px 0 15px;
                    @include bp(min-tablet) {
                        display: none;
                    }
                }
                .fa-user-cog {
                    margin-right: 15px;
                    @include bp(min-phablet) {
                        display: none;
                    }
                }
                .logo {
                    font-family: 'Amatic SC', cursive;
                    font-weight: 700;
                    padding: 5px 15px;
                    flex-grow: 1;
                    position: relative;
                    @include bp(max-tablet) {
                        &:before {
                            content: '';
                            height: 40px;
                            width: 1px;
                            background-color: $colorMain;
                            position: absolute;
                            top: 10px;
                            left: 0;
                        }
                    }
                }
            }
        }
        nav ul {
            // background-color: $colorMain;
            background-color: #fff;
            position: absolute;
            width: 100%;
            li a {
                padding: 10px 15px;
                &:hover {
                    // color: $colorMain;
                    background-color: $colorBgLight;
                }
            }
            &:first-of-type {
                text-align: right;
                @include bp(min-phablet) {
                    position: static;
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &:last-of-type {
                left: 0;
                @include bp(min-tablet) {
                    position: static;
                    display: flex;
                }
            }
        }
    }
}

// TODO: START CLEANING HERE
.ctaContainer {
    // background-color: $colorBgLight;
    .mainContainer {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        .image {
            display: none;
            @include bp(min-tablet) {
                display: block;
                height: 600px;
                width: 100%;
                background-image: url('../images/headerThis.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }
        div:last-of-type {
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
        h2 {
            text-align: center;
        }
        .decoration {
            height: 20px;
            width: 100%; // background: url('../images/decoration.png') center no-repeat;
            background: url('../images/decoration.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 15px;
            @include bp(min-tablet) {
                height: 30px;
            }
        }
    }
}