$fontSizeMain: 16px;
$fontSizeMedium: 20px;
$fontSizeLarge: 24px;
$fontSizeLogo: 40px;

$colorMain: #7aadff;
// $colorMain:#48963d;
$colorBgLight: #e2eeff;
$colorBgDark: #2a61ba;
// $colorBgSecondary: 