@import '_reset.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
@import '_variables.scss';
@import '_mixins.scss';
@import '_animations.scss';
@import '_landingPage.scss';

#app {
    // overall min-width of the website
    min-width: 320px;
}
.link {
    text-decoration: none;
    color: #000;
    border: 1px solid #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.activeLink {
    border-color: #000;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $fontSizeMain;
    // background-image: url('../images/crissxcross.png');
    .mainContainer {
        // width: 80%;
        // min-width: 300px;
        margin: 0 auto;
        @media only screen and (min-width: 1200px) {
            max-width: 1200px;
        }
    }
    h1 {
        font-size: $fontSizeLogo;
    }
    h2 {
        font-size: $fontSizeMedium;
    }
    .hidden {
        display: none;
    }
    .slideInRight {
        animation: slide-in-right .3s ease-out; // -webkit-animation: slide-down .3s ease-out;
        // -moz-animation: slide-down .3s ease-out;
    }
    .slideOutLeft {
        animation: slide-out-left .3s ease-out;
    }
    .slideInLeft {
        animation: slide-in-left .3s ease-out;
    }
}